{
  "extends": "standard",
  "rules": {
    "semi": ["error", "always"],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "exports": "always-multiline"
    }]
  },
  "plugins": ["jest"],
  "env": {
    "jest": true
  }
}
